@font-face {
  font-family: "Geist Mono";
  src: url(./GeistMono-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(./GeistMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(./GeistMono-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(./GeistMono-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(./GeistMono-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
